.container {
  width: 100%;
  min-width: 360px;
  height: 100%;
  display: grid;

  .stat-row {
    width: 8.5em;
    height: 100%;
  }

  stat-label {
    width: 100%;
  }

  .move-rate {
    width: 100%;
  }

  .move-text {
    width: 30%;
    text-align: center;
  }

  .move-value {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 2px;
    width: 70%;
    height: 72%;
    font-size: xx-large;
    font-weight: bold;
  }
}
