<div id="character-sheet" fxLayout="column" fxLayoutAlign="center center" *ngIf="character">
  <section id="character-info" fxLayout="row" fxLayoutGap="3px">
    <div class="section traits" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" fxFlex="25%">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <p class="field-label">Name</p>
        <p class="field-value">{{character.name}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <p class="field-label">Player</p>
        <p class="field-value">{{character.player}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <p class="field-label">Occupation</p>
        <p class="field-value">{{character.occupation}}<p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="40%" fxLayoutGap="5px">
          <p class="field-label">Age</p>
          <p class="field-value">{{character.age}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="60%" fxLayoutGap="5px">
          <p class="field-label">Sex</p>
          <p class="field-value">{{character.sex}}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <p class="field-label">Archetype</p>
        <p class="field-value">{{character.archetype}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <p class="field-label">Residence</p>
        <p class="field-value">{{character.residence}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <p class="field-label">Birthplace</p>
        <p class="field-value">{{character.birthplace}}</p>
      </div>
    </div>

    <div class="section" fxFlex="50%" fxLayout="column">
      <div class="header">Characteristics</div>
      <character-stats fxFlex="grow"></character-stats>
    </div>

    <div class="section image" fxFlex="25%">
      <dnd-image-input placeholder="assets/img/characterImagePlaceholder.png" [onUpload]="onImageUpload"></dnd-image-input>
    </div>
  </section>

  <section class="status-values" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="center space-between">
    <div class="hp" fxLayout="column" fxLayoutAlign="center center">
      <span>Hit Points</span>
      <number-status name="health" [(value)]="character.currentHp" [stackedButtons]="true" altZero="Dying" [altZeroCondition]="character.majorWound" [maxValue]="character.maxHp"></number-status>
      <mat-checkbox [checked]="character.majorWound" (change)="character.majorWound = $event.checked">Major Wound</mat-checkbox>
    </div>
    <div class="sanity" fxLayout="column" fxLayoutAlign="center center">
      <span>Sanity</span>
      <number-status [(value)]="character.currentSanity" [stackedButtons]="true" altZero="Insane" [maxValue]="character.maxSanity"></number-status>
    </div>
    <div class="luck" fxLayout="column" fxLayoutAlign="center center">
      <span>Luck</span>
      <number-status [(value)]="character.luck" [stackedButtons]="true" [maxValue]="99"></number-status>
    </div>
    <div class="magic-points" fxLayout="column" fxLayoutAlign="center center">
      <span>Magic Points</span>
      <number-status [(value)]="character.currentMp" [stackedButtons]="true" [maxValue]="character.maxMp"></number-status>
    </div>
  </section>
</div>
